@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using RegenCrm.Model

<form   asp-action="Create" >
    <div>
        Name
    </div>
    <div>
        <input type="text" name="Name" placeholder="Name" />
    </div>
    <div>
        Description
    </div>
    <div>
        <input type="text" name="Description" placeholder="Description" />
    </div>
    <div>
        Price
    </div>
    <div>
        <input type="text" name="Price" placeholder="Price" />
    </div>
    <div>
        InventoryQuantity
    </div>
    <div>
        <input type="number" name="InventoryQuantity" placeholder="InventoryQuantity" />
    </div>
    <div>
        Category
    </div>
    <div>
        <select name="Category" placeholder="Category" asp-items="@(Html.GetEnumSelectList<Category>())"></select>
    </div>


    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

   

    
    

    

     

 