@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using RegenCrm.Model
@model ProductWithImage



<form asp-action="Create" enctype="multipart/form-data" >
    <div>
        Name
    </div>
    <div>
        <input asp-for="Product.Name" placeholder="Name" />
    </div>
    <div>
        Description
    </div>

    <div>
        Price
    </div>
    <div>
        <input asp-for="Product.Price" placeholder="Price" />
    </div>
    <div>
        InventoryQuantity
    </div>
    <div>
        <input asp-for="Product.InventoryQuantity" placeholder="InventoryQuantity" />
    </div>
    <div>
        Category
    </div>
    <div>
        <select  asp-for="Product.Category" asp-items="@(Html.GetEnumSelectList<Category>())"></select>
    </div>

    <dl>
        <dt>
            <label asp-for="ProductImage"></label>
        </dt>
        <dd>
            <input asp-for="ProductImage" type="file">
            <span asp-validation-for="ProductImage"></span>
        </dd>
    </dl>



    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>










